table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
    cursor: pointer;
}

.nav-container{
    margin-bottom: 50px;
}

body{
    background-color: #343a40;
}

/* img{
    width: 55px;
    height: 65px;
} */